.inputContainer {
	display: flex;
	align-items: center;
	gap: 8px;

	padding: 8px;
	border-radius: 8px;
}
.base-input {
	flex: 1;
	min-width: 0;
	border: none;
	background: transparent;
	outline: none;
}
.outline {
	border: 1px solid var(--border-default);
	background-color: var(--bg-input-outlined);
}
.shaded {
	border: 1px solid var(--bg-input-shaded);
	background-color: var(--bg-input-shaded);
}
