.edit-profile {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	justify-content: flex-start;

	row-gap: 16px;
}
.name-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	row-gap: 8px;

	padding-top: 16px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	& > h3 {
		color: var(--text-black);
	}

	& > p {
		color: var(--text-black);
	}
}
.phones-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	row-gap: 8px;
	& > h3 {
		color: var(--text-black);
	}
}
.phones {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	row-gap: 6px;
}
.phone {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	column-gap: 16px;

	& > p {
		color: var(--text-black);
	}
}
