.chat {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	column-gap: 8px;

	position: relative;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	row-gap: 2px;
}
.tag {
	position: absolute;
	top: 50%;
	right: 8px;

	transform: translateY(-50%);
}
