.tag {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	column-gap: 6px;

	padding: 0 4px;
	border-radius: 4px;
}
.white {
	background-color: var(--bg-default);

	& > p {
		color: var(--text-primary);
	}

	& > svg > path {
		fill: var(--text-primary);
	}
}
.green {
	background-color: var(--bg-color-positive);

	& > p {
		color: var(--text-primary-on-color);
	}

	& > svg > path {
		fill: var(--text-primary-on-color);
	}
}
/* .blue */
/* ... */
.border {
	border: 1px solid var(--border-default);
}
