.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.transparent {
	background-color: transparent;
}
.dark {
	background-color: var(--button-filled);

	color: var(--text-primary-inverse);

	& > p {
		color: var(--text-primary-inverse);
	}
	& > svg > path {
		fill: var(--text-primary-inverse);
	}
}
.primary {
	background-color: var(--button-primary);

	color: var(--text-primary-on-color);

	& > p {
		color: var(--text-primary-on-color);
	}
	& > svg > path {
		fill: var(--text-primary-on-color);
	}
}
.shaded {
	background-color: var(--button-shaded);

	color: var(--text-primary);

	& > p {
		color: var(--text-primary);
	}
	& > svg > path {
		fill: var(--text-primary);
	}
}
.border {
	border: 1px solid var(--border-default);
}
.large {
	column-gap: 8px;

	padding: 8px 10px;
	border-radius: 6px;
}

