.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.transparent {
	background-color: transparent;
}
.border {
	border: 1px solid var(--border-default);
}
.large {
	column-gap: 8px;

	padding: 8px 10px;
	border-radius: 6px;
}
