.auth-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-self: center;
	justify-content: flex-start;
	row-gap: 32px;

	max-width: 360px;
}
.text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	row-gap: 8px;

	text-align: center;
}
.social-buttons {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	row-gap: 16px;
}
.inputs-content {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;

	row-gap: 16px;
}
