:root {
	font-size: 1em;

	/* COLOR-BASE */
	--black-25a: rgba(0, 0, 0, 0.25);
	--black-50a: rgba(0, 0, 0, 0.5);

	--amber-400: rgba(251, 191, 36, 1); /* #FBBF24 */
	--deep-purple-blue: rgba(16, 24, 40, 1); /* #101828 */
	--slate-grey: rgba(106, 114, 130, 1); /* #6A7282 */
	--very-pale-blue: rgba(238, 239, 242, 1); /* #EEEFF2 */
	--green-600: rgba(22, 163, 74, 1); /* #16A34A */
	--brand-default: rgba(34, 197, 94, 1); /* #22C55E */

	/* COLOR-TEXT */
	--text-primary: rgba(0, 0, 0, 0.8); /* #000000CC */
	--text-black: rgba(0, 0, 0, 1); /* #000000 */
	--text-primary-on-color: rgba(255, 255, 255, 1); /* #FFFFFF */
	--text-primary-inverse: rgba(255, 255, 255, 1); /* #FFFFFF */
	--text-secondary: rgba(0, 0, 0, 0.5); /* #00000080 */
	--text-colored-brand: rgba(37, 99, 235, 1); /* #2563EB */
	--text-tertiary: rgba(0, 0, 0, 0.25); /* #00000040 */
	--text-positive: rgba(22, 163, 74, 1); /* #16A34A */
	--text-brand: rgba(37, 99, 235, 1); /* #2563EB */
	--text-negative: rgba(220, 38, 38, 1); /* #DC2626 */
	--text-teal: rgba(13, 148, 136, 1); /* #0D9488 */
	--text-violet: rgba(124, 58, 237, 1); /* #7C3AED */
	--text-warning: rgba(217, 119, 6, 1); /* #D97706 */

	/* COLOR-ICON */
	--icon-primary: rgba(0, 0, 0, 0.8); /* #000000CC */
	--icon-primary-on-color: rgba(255, 255, 255, 1); /* #FFFFFF */
	--icon-negative: rgba(239, 68, 68, 1); /* #EF4444 */

	/* COLOR-BORDER */
	--border-default: rgba(0, 0, 0, 0.1); /* #0000001A */
	--border-default-inverse: rgba(255, 255, 255, 0.15); /* #FFFFFF26 */
	--border-default-contast: rgba(0, 0, 0, 0.2); /* #00000033 */
	--border-default-hover: rgba(0, 0, 0, 0.4); /* #00000066 */
	--border-default-active: rgba(0, 0, 0, 0.8); /* #000000CC */
	--border-color-white: rgba(255, 255, 255, 1); /* #FFFFFF  */
	--border-color-negative: rgba(239, 68, 68, 1); /* #EF4444  */
	--border-subtle-positive: rgba(134, 239, 172, 1); /* #86EFAC */
	--border-subtle-blue: rgba(147, 197, 253, 1); /* #93C5FD */
	--border-subtle-negative: rgba(252, 165, 165, 1); /* #FCA5A5 */
	--border-subtle-teal: rgba(94, 234, 212, 1); /* #5EEAD4 */
	--border-subtle-violet: rgba(196, 181, 253, 1); /* #C4B5FD */
	--border-subtle-warning: rgba(255, 251, 235, 1); /* #FFFBEB  */

	/* COLOR-BG */
	--bg-default: rgba(255, 255, 255, 1); /* #FFFFFF */
	--bg-surface-1: rgba(0, 0, 0, 0.03); /* #00000008 */
	--bg-color-positive: rgba(34, 197, 94, 1); /* #22C55E */
	--bg-subtle-positive: rgba(240, 253, 244, 1); /* #F0FDF4 */
	--bg-popover: rgba(255, 255, 255, 1); /* #FFFFFF */
	--bg-color-blue: rgba(59, 130, 246, 1); /* #3B82F6 */
	--bg-subtle-blue: rgba(239, 246, 255, 1); /* #EFF6FF */
	--bg-color-negative: rgba(239, 68, 68, 1); /* #EF4444 */
	--bg-subtle-negative: rgba(254, 242, 242, 1); /* #FEF2F2 */
	--bg-default-inverse: rgba(31, 41, 55, 1); /* #1F2937 */
	--bg-surface-2: rgba(0, 0, 0, 0.05); /* #0000000D */
	--bg-color-teal: rgba(20, 184, 166, 1); /* #14B8A6 */
	--bg-subtle-teal: rgba(240, 253, 250, 1); /* #F0FDFA */
	--bg-color-violet: rgba(139, 92, 246, 1); /* #8B5CF6 */
	--bg-subtle-violet: rgba(245, 243, 255, 1); /* #F5F3FF */
	--bg-color-warning: rgba(251, 191, 36, 1); /* #FBBF24 */
	--bg-subtle-warning: rgba(255, 251, 235, 1); /* #FFFBEB */
	--bg-input-outlined: rgba(255, 255, 255, 1); /* #FFFFFF */
	--bg-input-shaded: rgba(0, 0, 0, 0.05); /* #0000000D */

	/* COLOR-BUTTON */
	--button-primary: rgba(34, 197, 94, 1); /*#22C55E*/
	--button-primary-hover: rgba(22, 163, 74, 1); /*#16A34A*/
	--button-primary-active: rgba(21, 128, 61, 1); /*#15803D*/
	--button-secondary-hover: rgba(0, 0, 0, 0.05); /*#0000000D*/
	--button-secondary-active: rgba(0, 0, 0, 0.1); /*#0000001A*/
	--button-shaded: rgba(0, 0, 0, 0.05); /*#0000000D*/
	--button-filled: rgba(17, 24, 39, 1); /*#111827*/
	--button-shaded: rgba(0, 0, 0, 0.05); /* #0000000D */
	--button-destructive: rgba(239, 68, 68, 1); /* #EF4444 */

	/* SHADOW  */
	--shadow-1: 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
	--shadow-2: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

	/* STYLE-FONTS */
	--fs-heading-36-bold: clamp(1.5rem, 1.089rem + 1.55vw, 2.25rem);
	--heading-36-bold: 700 var(--fs-heading-36-bold) / 1.3333 'Inter';
	--fs-heading-24-sb: clamp(1.125rem, 0.919rem + 0.77vw, 1.5rem);
	--heading-24-sb: 600 var(--fs-heading-24-sb) / 1.3333 'Inter';
	--fs-heading-18-sb: clamp(0.875rem, 0.738rem + 0.52vw, 1.125rem);
	--heading-18-sb: 600 var(--fs-heading-18-sb) / 1.3333 'Inter';
	--fs-heading-16-sb: clamp(0.75rem, 0.613rem + 0.52vw, 1rem);
	--heading-16-sb: 600 var(--fs-heading-16-sb) / 1.5 'Inter';
	--fs-UI-text-14-sb: clamp(0.625rem, 0.488rem + 0.52vw, 0.875rem);
	--UI-text-14-sb: 600 var(--fs-UI-text-14-sb) / 1.7143 'Inter';
	--fs-UI-text-14-medium: clamp(0.75rem, 0.681rem + 0.26vw, 0.875rem);
	--UI-text-14-medium: 500 var(--fs-UI-text-14-medium) / 1.7143 'Inter';
	--fs-UI-text-14-reg: clamp(0.75rem, 0.681rem + 0.26vw, 0.875rem);
	--UI-text-14-reg: 400 var(--fs-UI-text-14-reg) / 1.7143 'Inter';
	--fs-UI-text-12-sb: clamp(0.375rem, 0.169rem + 0.77vw, 0.75rem);
	--UI-text-12-sb: 600 var(--fs-UI-text-12-sb) / 1.3333 'Inter';
	--fs-UI-text-12-reg: clamp(0.5rem, 0.363rem + 0.52vw, 0.75rem);
	--UI-text-12-reg: 400 var(--fs-UI-text-12-reg) / 1.3333 'Inter';
	--fs-running-text-paragraph-16-reg: clamp(
		0.75rem,
		0.681rem + 0.26vw,
		0.875rem
	);
	--running-text-paragraph-16-reg: 400
		var(--fs-running-text-paragraph-16-reg) / 1.7143 'Inter';
	--fs-running-text-paragraph-14-reg: clamp(
		0.5rem,
		0.294rem + 0.77vw,
		0.875rem
	);
	--running-text-paragraph-14-reg: 400
		var(--fs-running-text-paragraph-14-reg) / 1.428 'Inter';

	/* EFFECTS */
	--time-to-do: 0.3s;
	--type-effect: ease-in-out;
}

/* connect fonts */
/* Inter */
@font-face {
	font-family: 'Inter';
	src:
		url('../fonts/Inter/Inter_24pt-Regular.woff2') format('woff2'),
		url('../fonts/Inter/Inter_24pt-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src:
		url('../fonts/Inter/Inter_24pt-Medium.woff2') format('woff2'),
		url('../fonts/Inter/Inter_24pt-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src:
		url('../fonts/Inter/Inter_28pt-SemiBold.woff2') format('woff2'),
		url('../fonts/Inter/Inter_28pt-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src:
		url('../fonts/Inter/Inter_28pt-Bold.woff2') format('woff2'),
		url('../fonts/Inter/Inter_28pt-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src:
		url('../fonts/Inter/Inter_28pt-ExtraBold.woff2') format('woff2'),
		url('../fonts/Inter/Inter_28pt-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

/* my reset */
h1 {
	font: var(--heading-36-bold);
	letter-spacing: -2.2%;
	color: var(--text-primary);
}
h2 {
	font: var(--heading-24-sb);
	letter-spacing: -1.9%;
	color: var(--text-primary);
}
h3 {
	font: var(--heading-18-sb);
	letter-spacing: -1.4%;
	color: var(--text-primary);
}
h4 {
	font: var(--heading-16-sb);
	letter-spacing: -1.4%;
	color: var(--text-primary);
}
a {
	cursor: pointer;
}
img,
svg {
	user-select: none;
}
svg {
	flex-shrink: 0;
}

/* main css */
body {
	background: var(--base-background);

	font-family: 'Inter', sans-serif;
	font-weight: 500;
}
body,
#root,
.App {
	min-height: 100vh;
}
.App {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	max-width: 90rem;
	margin: 0 auto;
	background-color: var(--base-background);
}
