.avatar {
	aspect-ratio: 1/1;
	border: 1px solid var(--border-default);
}
.circle {
	border-radius: 50%;
}
.square {
	border-radius: 6px;
}
.huge {
	width: 96px;
}
.extra-large {
	width: 64px;
}
.large {
	width: 48px;
}
.medium {
	width: 32px;
}
.small {
	width: 24px;
}
.tiny {
	width: 16px;
}
.square.small {
	border-radius: 4px;
}
.square.tiny {
	border-radius: 2px;
}
